<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>e4event.com</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/0d3236b76b.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/lightbox.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/flexslider.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/owl.theme.default.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.rateyo.css' %}"/>
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.mmenu.all.css' %}" /> -->
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/meanmenu.min.css' %}"> -->
	<link rel="stylesheet" type="text/css" href="{% static 'inner-page-style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<style>
		    #cc {
      background-image: url({% static 'events2.avif' %});
      background-size: 100%;
      background-repeat: no-repeat;
      height: 400px;
      opacity: 1;

    }
        .event-content {
      text-align: center;
      padding: 20px;
      background-color: #f5f5f5;
      border: 1px solid #ddd;
      margin: 20px;
    }
	</style>
	    <script>
          function fun2(){
            var input,filter,mainclass,div,h,i,txtValue;
            input=document.getElementById('myInput');  //input field
            filter=input.value.toUpperCase();  //upper case
            mainclass=document.getElementById('aa');  // list selected

            div=mainclass.getElementsByClassName("card"); //[li,li,li.....]

            for(i=0;i<div.length;i++){
                h=div[i].getElementsByTagName('h4')[0];  //[a]=a
                txtValue=h.textContent || h.innerText;
                if(txtValue.toUpperCase().indexOf(filter)>-1){  //HELLO.indexOf('HELLO')
                    div[i].style.display='';

                }
                else{
                    div[i].style.display='none'
                }
            }
        }
        function fun1(){
           alert('Logged Out Successfully....')

        }
    </script>


</head>
<body>
	<div id="page" class="site" itemscope itemtype="http://schema.org/LocalBusiness">
		<header class="site-header">
			<div class="top-header">
				<div class="container">
					<div class="top-header-left">
						<div class="top-header-block">

							<a href="mailto:info@educationpro.com" itemprop="email"><i class="fas fa-envelope"></i>  info@E4Events.com</a>
						</div>
						<div class="top-header-block">
							<a href="tel:+9779813639131" itemprop="telephone"><i class="fas fa-phone"></i> +91-9995552221</a>
						</div>
					</div>
					<div class="top-header-right">
						<div class="social-block">
							<ul class="social-list">
								<li><a href=""><i class="fab fa-viber"></i></a></li>
								<li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
								<li><a href=""><i class="fab fa-facebook-square"></i></a></li>
								<li><a href=""><i class="fab fa-facebook-messenger"></i></a></li>
								<li><a href=""><i class="fab fa-twitter"></i></a></li>
								<li><a href=""><i class="fab fa-skype"></i></a></li>
							</ul>
						</div>
						<div >
  							<p style="display:inline;margin-left:25px;color:white;">{{user2.name}}</p>
							<img src="/static/{{img2}}" height="60px" width="60px" style="display:inline;border-radius:10px;">

						</div>
						<div class="dropdown" style="margin-top:30px;">
  							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 15px;background-color: rgb(26, 26, 116);">

  							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
								<li><a class="dropdown-item" href="http://127.0.0.1:8000/eventapp/customer_prof" style="color: black;font-size: 15px;"><i class="fa-solid fa-user" style="color: black;"></i>Profile</a></li>
    							<li><a class="dropdown-item" href="" style="color: black;font-size: 15px;"><i class="fa-solid fa-gear" style="color: black;"></i> Settings</a></li>
    							<li><a class="dropdown-item" href="http://127.0.0.1:8000/eventapp/sellerlogout/" style="color: black;font-size: 15px;" onclick="fun1()"><i class="fa-solid fa-user" style="color: black;"></i> Logout</a></li>

							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- Top header Close -->
			<div class="main-header">
				<div class="container">
					<div class="logo-wrap" itemprop="logo">

						<img src="{% static 'e4events1.png' %}" alt="Logo Image" height="80px" width="200px">
						<!-- <h1>E4Event</h1> -->
					</div>
					<div class="nav-wrap">
						<nav class="nav-desktop">
							<ul class="menu-list">
								<li><a href="#"><i class="fa-solid fa-house"></i> Home</a></li>
								<li><a href=""><i class="fa-solid fa-phone"></i> Contact</a></li>
								<li><form>
                            <div class="input-icons">

<!--                                <input type="text" class="icon-rtl" value placeholder="Search" size="50"  id="myInput" onkeyup="fun2()"> <i class="fa-solid fa-magnifying-glass"></i>-->

                            </div>
                        </form>
							</li>



							</ul>
						</nav>
						<div id="bar">
							<i class="fas fa-bars"></i>
						</div>
						<div id="close">
							<i class="fas fa-times"></i>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="container-fluid" id="cc">

    		<center>
      		<h1 style="padding-top: 120px;font-size: 70px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: white;text-shadow: 15px 15px 15px black;">
        	WELCOME TO E4Event.com</h1>
      		<h1
        	style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: white;text-shadow: 10px 10px 10px black;">
        	Single Platform for All Event Booking</h1>

   		 	</center>
  		</div><br>

		<div class="event-content">
  			<h1 style="font-size:50px;text-shadow:3px 3px 3px black;">Welcome to the Gateway of Unforgettable Experiences!</h1>
  			<p style="font-size:18px;">Your journey into extraordinary events begins here. We are honored to be a part of your special and Dream Event. With us, turning your dream Event into reality is just a few clicks away.<br><br> Cheers to extraordinary moments!</p>
		</div>

<!--		<div>-->
		<h1 style="text-shadow: 2px 2px 2px black;font-size:40px;display:inline;margin-left:45%;">OUR TEAM</h1>
<!--		</div>-->
		<div class="container-fluid" id="aa">
			 <form>
                <div class="input-icons" style="margin-left:800px;">
                    <input type="text" class="icon-rtl" value placeholder="Search by place" size="50" id="myInput" onkeyup="fun2()" style="height:40px;"> <i class="fa-solid fa-magnifying-glass" style="font-size:20px;"></i>
                </div>
            </form>
           <div class="row" style="float: left;margin-left: 80px;margin-top: 50px;" >
			   <div class="row" style="float: left; margin-left: 1px; margin-top: -30px;">
			   {% for i,j,k,l,m,n,o,p in data %}

			   <div class="col-4" style="margin-top: 30px;" >
				   <div class="card" style="width: 300px;height:550px;" >
                    	<img src="{% static j %}" class="card-img-top" alt="..." style="height:250px;width:400px;">
                    	<div class="card-body">
							<center>
                        	<h2 class="card-title" style="text-shadow: 1px 1px 1px black;"><b>{{k}}</b></h2>

                        	<h3 class="card-text">{{l}}</h3>
                        	<h4 style="display: inline;" id="dd">{{m}}</h4><br><br>
							<h3 style="display: inline;">{{n}}</h3><br><br>
                        	<h3 style="display: inline;text-shadow: 1px 1px 1px black;" class="card-text"><b>{{o}}</b></h3><br><br>

                        	<a href="http://127.0.0.1:8000/eventapp/eventbooking/{{i}}"><button style="background-color: green;border-radius: 8px;box-shadow: 5px 5px 5px black;height: 35px;width: 120px;font-size:15px;">Book Now</button></a>
							<br><br>
							<h5>for more enquiry please visit our website</h5>
							<h5 style="color:blue;">www.events123.com</h5>

							</center>
                    	</div>
                	</div>
			   </div>


			   {% endfor %}
			   </div>
		   </div>
    	</div>
		<div>
       	<center>
   			<a href="" class="btn" style="border: 1px black solid;margin-top: 80px;height:30px;width:80px;font-size:15px;"><< Prev</a>
   			<a href="" class="btn" style="border: 1px black solid;margin-top: 80px;height:30px;width:80px;font-size:15px;">1</a>
			<a href="" class="btn" style="border: 1px black solid;margin-top: 80px;height:30px;width:80px;font-size:15px;">2</a>
   			<a href="" class="btn" style="border: 1px black solid;margin-top: 80px;height:30px;width:80px;font-size:15px;">Next>></a>
		</center>
		</div>
		<br>

		<div>
		<!-- End of Query Section -->
		<footer class="page-footer" itemprop="footer" itemscope itemtype="http://schema.org/WPFooter">
			<div class="footer-first-section">
				<div class="container">
					<div class="box-wrap" itemprop="about">
						<header>
							<h1>about</h1>
						</header>
						<ul>
							<li><a href="#">Contact Us</a></li>
							<li><a href="#">About Us</a></li>

						</ul>

						<h4><a href="tel:+9779813639131"><i class="fas fa-phone"></i> +91-9995552221</a></h4>
						<h4><a href="mailto:info@educationpro.com"><i class="fas fa-envelope"></i> info@E4Eventpro.com</a></h4>
						<h4><a href=""><i class="fas fa-map-marker-alt"></i>Bangaluru,Karnataka</a></h4>
					</div>

					<div class="box-wrap">
						<header>
							<h1>links</h1>
						</header>
						<ul>
							<li><a href="#">Cancellation</a></li>
							<li><a href="#">Terms of Use</a></li>
							<li><a href="#">Security</a></li>
							<li><a href="#">Privacy</a></li>
							<li><a href="#">Grievance Redressal</a></li>
							<li><a href="#">FAQ</a></li>
						</ul>
					</div>

					<div class="box-wrap">
						<header>
							<h1>Social</h1>
						</header>
						<ul>
							<li><a href="#">Facebook</a></li>
							<li><a href="#">Twitter</a></li>
							<li><a href="#">Instagram</a></li>
							<li><a href="#">Youtube</a></li>

						</ul>
					</div>

					<div class="box-wrap">
						<header>
							<h1>quick contact</h1>
						</header>
						<section class="quick-contact">
							<input type="email" name="email" placeholder="Your Email*">
							<textarea placeholder="Type your message*"></textarea>
							<button>send message</button>
						</section>
					</div>

				</div>
			</div>
			<!-- End of box-Wrap -->
			<div class="footer-second-section">
				<div class="container">
					<hr class="footer-line">
					<ul class="social-list">
						<li><a href=""><i class="fab fa-facebook-square"></i></a></li>
						<li><a href=""><i class="fab fa-twitter"></i></a></li>
						<li><a href=""><i class="fab fa-skype"></i></a></li>
						<li><a href=""><i class="fab fa-youtube"></i></a></li>
						<li><a href=""><i class="fab fa-instagram"></i></a></li>
					</ul>
					<hr class="footer-line">
				</div>
			</div>
			<div class="footer-last-section">
				<div class="container">
					<p>Copyright 2023 &copy; E4Eventpro.com <span> | </span> Theme designed and developed by <a href="https://labtheme.com">E4E</a></p>
				</div>
			</div>
		</footer>
		</div>


	</div>
	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/lightbox.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/all.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/isotope.pkgd.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/owl.carousel.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.flexslider.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.rateyo.js' %}"></script>
	<!-- <script type="text/javascript" src="{% static 'js/jquery.mmenu.all.js' %}"></script> -->
	<!-- <script type="text/javascript" src="{% static 'js/jquery.meanmenu.min.js' %}"></script> -->
	<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
</body>
</html>