<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>e4event.com</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/0d3236b76b.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/lightbox.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/flexslider.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/owl.theme.default.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.rateyo.css' %}"/>
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.mmenu.all.css' %}" /> -->
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/meanmenu.min.css' %}"> -->
	<link rel="stylesheet" type="text/css" href="{% static 'inner-page-style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<style>
		table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 2px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
	</style>




</head>
<body>

	<div id="page" class="site" itemscope itemtype="http://schema.org/LocalBusiness">
		<header class="site-header">
			<div class="top-header">
				<div class="container">
					<div class="top-header-left">
						<div class="top-header-block">
							<a href="mailto:info@educationpro.com" itemprop="email"><i class="fas fa-envelope"></i>  info@E4Eventpro.com</a>
						</div>
						<div class="top-header-block">
							<a href="tel:+9779813639131" itemprop="telephone"><i class="fas fa-phone"></i> +91-9995552221</a>
						</div>
					</div>
					<div class="top-header-right">
						<div class="social-block">
							<ul class="social-list">
								<li><a href=""><i class="fab fa-viber"></i></a></li>
								<li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
								<li><a href=""><i class="fab fa-facebook-square"></i></a></li>
								<li><a href=""><i class="fab fa-facebook-messenger"></i></a></li>
								<li><a href=""><i class="fab fa-twitter"></i></a></li>
								<li><a href=""><i class="fab fa-skype"></i></a></li>
							</ul>
						</div>
						<div >
  							<p style="display:inline;margin-left:25px;color:white;">{{user5.name}}</p>
<!--							<img src="/static/{{img2}}" height="60px" width="60px" style="display:inline;border-radius:10px;">-->

						</div>
						<div class="dropdown" style="margin-top:30px;">
  							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 15px;background-color: rgb(26, 26, 116);">

  							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    							<li><a class="dropdown-item" href="http://127.0.0.1:8000/eventapp/sellerprofedit/{{user2.id}}" style="color: black;font-size: 15px;"><i class="fa-solid fa-user" style="color: black;"></i> Edit Profile</a></li>
    							<li><a class="dropdown-item" href="http://127.0.0.1:8000/eventapp/sellerlogout/" style="color: black;font-size: 15px;"><i class="fa-solid fa-user" style="color: black;"></i> Logout</a></li>
  							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- Top header Close -->
			<div class="main-header">
				<div class="container">
					<div class="logo-wrap" itemprop="logo">
						<img src="{% static 'e4events1.png' %}" alt="Logo Image" height="80px" width="200px">
						<!-- <h1>E4Event</h1> -->
					</div>
					<div class="nav-wrap">
						<nav class="nav-desktop">
							<ul class="menu-list">
								<li><a href="#">Home</a></li>
								<li class="menu-parent">Services
									<ul class="sub-menu">
										<li><a href="#">Child</a></li>
										<li><a href="#">Child</a></li>
										<li class="menu-parent">Child
											<ul class="sub-menu">
												<li><a href="">Grand-child</a></li>
												<li><a href="">Grand-child</a></li>
											</ul>
										</li>
									</ul>
								</li>
<!--								<li class="menu-parent">Services-->
<!--									<ul class="sub-menu">-->
<!--										<li><a href="#">Child</a></li>-->
<!--										<li><a href="#">Child</a></li>-->
<!--									</ul>-->
<!--								</li>-->
								<li><a href="">About</a></li>
								<li><a href="">Gallery</a></li>
								<li><a href="">Contact</a></li>
							</ul>
						</nav>
						<div id="bar">
							<i class="fas fa-bars"></i>
						</div>
						<div id="close">
							<i class="fas fa-times"></i>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div><br><br>


		<center>
			<h1 style="font-size:40px;">CUSTOMER BOOKING STATUS</h1>
			</center><br><br>
			<center>
		<div style="width:850px;">

			<form method="post" enctype="multipart/form-data">{% csrf_token %}
			<table>
				<tr>
					<th style="font-size:20px;">Customer Name:</th>
					<td style="font-size:20px;"><input type="text" name="cname"  value="{{user.first_name}}" style="border:none;"></td>
				</tr>
				<tr>
					<th style="font-size:20px;">Event Type:</th>
					<td style="font-size:20px;"><input type="text" name="etype"  value="{{user.event_type}}" style="border:none;"><br></td>
				</tr>
				<tr>
					<th style="font-size:20px;">Event Team:</th>
					<td style="font-size:20px;"><input type="text" name="event_team"  value="{{user.event_team}}" style="border:none;"></td>
				</tr>

				<tr>
					<th style="font-size:20px;">Email:</th>
					<td style="font-size:20px;"><input type="email" name="email"  value="{{user.email}}" style="border:none;"></td>
				</tr>
				<tr>
					<th style="font-size:20px;">Address:</th>
					<td style="font-size:20px;"><input type="text" name="address"  value="{{user.address}}" style="border:none;"></td>
				</tr>
				<tr>
					<th style="font-size:20px;">Date of Approval:</th>
					<td style="font-size:20px;"><input type="date" name="dbooking" style="border:none;"></td>
				</tr>
				<tr>
					<th style="font-size:20px;">Event booking Date:</th>
					<td style="font-size:20px;"><input type="text" name="ebooking"  value="{{user.event_date}}" style="border:none;"></td>
				</tr>
				<tr>
					<th style="font-size:20px;">Phone Number:</th>
					<td style="font-size:20px;"><input type="number" name="phone"  value="{{user.phone}}" style="border:none;"></td>
				</tr>
				<tr>
					<th style="font-size:20px;">Alternate Phone Number:</th>
					<td style="font-size:20px;"><input type="number" name="aphone"  value="{{user.alternate_phone}}" style="border:none;"></td>
				</tr>
				<tr>
					<th style="font-size:20px;" >Expected Amount:</th>
					<td style="font-size:20px;"><input type="number" name="amount"  value="{{user.amount}}" style="border:none;"></td>
				</tr>
				<tr>
					<th style="font-size:20px;">Description:</th>
					<td style="font-size:20px;"><input type="text" name="des"  value="{{user.description}}" style="border:none;"></td>
				</tr>
				<tr>
					<th style="font-size:20px;">Status:</th>
					<td style="font-size:20px;">
						<select class="form-select" aria-label="Default select example" name="corder" style="width:250px;height:35px;font-size:18px;text-shadow:1px 1px 1px black;">
          					<option selected>Accept/Reject the order</option>
							<option value="accept">Accept the order</option>
          					<option value="reject">Reject the order</option>
						</select>
					</td>
				</tr>
			</table>


			<br>
			<button id="acceptButton" style="height:40px; width:100px;font-size:20px;box-shadow: 5px 5px 5px black;" type="submit" >Confirm</button>
			<br>
			<br>
			<a href="http://127.0.0.1:8000/eventapp/company_page/" style="font-size:20px;"><< Back</a>
		</form>

		</div>
		</center><br><br>
<!--				<script>-->
<!--  document.getElementById("myButton").addEventListener("click", function () {-->
<!--    const message = "Accepted";-->
<!--    localStorage.setItem("myMessage", message);-->
<!--    window.location.href = "http://127.0.0.1:8000/eventapp/company_page/";-->
<!--  });-->
<!--	</script>-->

			<script>
  document.getElementById("acceptButton").addEventListener("click", function () {
    const message = "Accepted";
    localStorage.setItem("myMessage", message);
    window.location.href = "http://127.0.0.1:8000/eventapp/company_page/";
  });

  document.getElementById("rejectButton").addEventListener("click", function () {
    const message = "Rejected";
    localStorage.setItem("myMessage", message);
    window.location.href = "http://127.0.0.1:8000/eventapp/company_page/";
  });
</script>



          <!-- End of Query Section -->
		<footer class="page-footer" itemprop="footer" itemscope itemtype="http://schema.org/WPFooter">
			<div class="footer-first-section">
				<div class="container">
					<div class="box-wrap" itemprop="about">
						<header>
							<h1>about</h1>
						</header>
						<ul>
							<li><a href="#">Contact Us</a></li>
							<li><a href="#">About Us</a></li>

						</ul>

						<h4><a href="tel:+9779813639131"><i class="fas fa-phone"></i> +91-9995552221</a></h4>
						<h4><a href="mailto:info@educationpro.com"><i class="fas fa-envelope"></i> info@E4Eventpro.com</a></h4>
						<h4><a href=""><i class="fas fa-map-marker-alt"></i>Bangaluru,Karnataka</a></h4>
					</div>

					<div class="box-wrap">
						<header>
							<h1>links</h1>
						</header>
						<ul>
							<li><a href="#">Cancellation</a></li>
							<li><a href="#">Terms of Use</a></li>
							<li><a href="#">Security</a></li>
							<li><a href="#">Privacy</a></li>
							<li><a href="#">Grievance Redressal</a></li>
							<li><a href="#">FAQ</a></li>
						</ul>
					</div>

					<div class="box-wrap">
						<header>
							<h1>Social</h1>
						</header>
						<ul>
							<li><a href="#">Facebook</a></li>
							<li><a href="#">Twitter</a></li>
							<li><a href="#">Instagram</a></li>
							<li><a href="#">Youtube</a></li>

						</ul>
					</div>

					<div class="box-wrap">
						<header>
							<h1>quick contact</h1>
						</header>
						<section class="quick-contact">
							<input type="email" name="email" placeholder="Your Email*">
							<textarea placeholder="Type your message*"></textarea>
							<button>send message</button>
						</section>
					</div>

				</div>
			</div>
			<!-- End of box-Wrap -->
			<div class="footer-second-section">
				<div class="container">
					<hr class="footer-line">
					<ul class="social-list">
						<li><a href=""><i class="fab fa-facebook-square"></i></a></li>
						<li><a href=""><i class="fab fa-twitter"></i></a></li>
						<li><a href=""><i class="fab fa-skype"></i></a></li>
						<li><a href=""><i class="fab fa-youtube"></i></a></li>
						<li><a href=""><i class="fab fa-instagram"></i></a></li>
					</ul>
					<hr class="footer-line">
				</div>
			</div>
			<div class="footer-last-section">
				<div class="container">
					<p>Copyright 2023 &copy; E4Eventpro.com <span> | </span> Theme designed and developed by <a href="https://labtheme.com">E4E</a></p>
				</div>
			</div>
		</footer>

		<!-- <nav id="menu">
			<ul>
				<li><a href="#">HOME</a></li>
				<li>
					<span>COURSES</span>
					<ul>
						<li><a href="#/courses/child">Child</a></li>
						<li><a href="#/courses/child">Child</a></li>
						<li>
							<span>Child</span>
							<ul>
								<li><a href="#/courses/child/grandChild">Grand Child</a></li>
								<li><a href="#/courses/child/grandChild">Grand Child</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">gallery</a>
					<ul>
						<li><a href="#">Child</a></li>
						<li><a href="#">Child</a></li>
						<li><a href="#">Child</a></li>
					</ul>
				</li>
				<li>
					<a href="#">news</a>
					<ul>
						<li><a href="#">Child</a></li>
						<li><a href="#">Child</a></li>
						<li><a href="#">Child</a></li>
					</ul>
				</li>
				<li><a href="#">about</a></li>
				<li><a href="#">contact</a></li>
			</ul>
		</nav> -->

	</div>
	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/lightbox.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/all.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/isotope.pkgd.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/owl.carousel.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.flexslider.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.rateyo.js' %}"></script>
	<!-- <script type="text/javascript" src="{% static 'js/jquery.mmenu.all.js' %}"></script> -->
	<!-- <script type="text/javascript" src="{% static 'js/jquery.meanmenu.min.js' %}"></script> -->
	<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>


</body>
</html>